# Exercise 5

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("rain_events_2021_june.csv", index_col=0, parse_dates=True)
df

In [ ]:
df.isna().sum()

In [ ]:
# find specific indices where nan
df[df.isna().values]

In [ ]:
df = df.interpolate(method="time")
df

# Exercise 6

In [ ]:
import mikeio

In [ ]:
item_info = mikeio.ItemInfo(
    name="Rainfall",
    itemtype=mikeio.EUMType.Rainfall_Intensity,
    unit=mikeio.EUMUnit.mu_m_per_sec,
    data_value_type="MeanStepBackward"
)
item_info

In [ ]:
ds = mikeio.from_pandas(df, items=item_info)
ds

In [ ]:
ds.to_dfs("rainfall.dfs0")

In [ ]:
ds = mikeio.read("rainfall.dfs0")
ds

In [ ]:
ds.describe()